.create-card-type {
  width: 25%;
  margin: 50px auto;
  background-color: white; /*change to white White*/
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.create-card-form .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-card-form .inputGroup label {
  margin-top: 10px;
  color: gray; /*new*/
}

.create-card-form .inputGroup input {
  margin-top: 5px;
  padding: 10px;
  color: gray; /*new*/
}

.create-card-form button {
  margin-top: 10px;
}

.login {
  margin-top: 5px;
}

.create-card-type h3 {
  text-align: center;
  font-weight: 700;
  color: darkcyan;
}
