/* Table Styles */
.table-responsive {
  display: flex;
  justify-content: center;
}

.table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Added box shadow */
}

.table thead th {
  background-color: #f2f2f2;
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #dddddd;
}

.users-list-header {
  margin-top: 20px;
  text-align: center;
}

/* Search Bar Styles */
.search-bar {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.error-message-style {
  color: darkred;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.search-bar input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #007bff;
}

.pagination li a:hover {
  background-color: #007bff;
  color: white;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/* CSS For Delete User Component */
.delete-user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.download-buttons {
  text-align: center;
  margin-bottom: 15px;
}

.download-buttons .btn {
  margin-right: 10px;
}
