.footer-tyle {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em o;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.text-style {
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

footer p {
  margin: 0;
}
